<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: Alliander N. V.
SPDX-License-Identifier: Apache-2.0
-->
<!-- 
Based on:
https://github.com/ros-industrial-attic/robotiq/blob/kinetic-devel/robotiq_3f_gripper_visualization/cfg/robotiq-3f-gripper_articulated.xacro
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="3f-gripper">
  <gazebo>
    <plugin filename="gz_ros2_control-system"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find alliander_description)/robotiq/config/controllers.yaml</parameters>
      <ros>
        <namespace>$(arg namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

  <ros2_control name="hardware" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Palm -->
    <joint name="palm_finger_1_joint">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="palm_finger_2_joint">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <!-- Finger 1 -->
    <joint name="finger_1_joint_1">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="finger_1_joint_2">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="finger_1_joint_3">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <!-- Finger 2 -->
    <joint name="finger_2_joint_1">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="finger_2_joint_2">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="finger_2_joint_3">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>

    <!-- Finger middle -->
    <joint name="finger_middle_joint_1">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="finger_middle_joint_2">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
    <joint name="finger_middle_joint_3">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort" />
    </joint>
  </ros2_control>

  <xacro:macro name="gripper"
    params="
    namespace
    parent
    ">

    <xacro:include
      filename="$(find alliander_description)/robotiq/urdf/3f-gripper_macro.urdf.xacro" />
    <xacro:robotiq-3f-gripper_articulated prefix="" />

    <!-- Rotate to have gripper pointing downwards: -->
    <link name="base_link" />
    <joint name="base_joint" type="fixed">
      <parent link="base_link" />
      <child link="palm" />
      <origin xyz="0 0 0" rpy="-${pi/2} 0 0" />
    </joint>

    <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
    <xacro:if value="${parent == 'world'}">
      <link name="${parent}" />
      <joint name="${parent}_joint" type="fixed">
        <parent link="${parent}" />
        <child link="base_link" />
      </joint>
    </xacro:if>
  </xacro:macro>
  <xacro:arg name="namespace" default="l3cam" />
  <xacro:arg name="parent" default="" />
  <xacro:gripper namespace="$(arg namespace)" parent="$(arg parent)" />
</robot>