# SPDX-FileCopyrightText: Alliander N. V.
#
# SPDX-License-Identifier: Apache-2.0

[submodule "ros2_ws/src/franka_description"]
	path = ros2_ws/src/franka_description
	url = https://github.com/alliander-opensource/franka_description
