# SPDX-FileCopyrightText: Alliander N. V.
# 
# SPDX-License-Identifier: Apache-2.0

__pycache__/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/.cache/
ignore/
.config/
.vscode/
.data/

.personal.bashrc
.bash_history
.bash_logout
.bashrc
.profile
.vscode-server

build/
clangd/

.env
!.devcontainer/.env
.cache
.venv

# for LSP in neovim
.clangd-build/
**/compile_commands.json

# generated compose files
platforms.yml
simulator.yml
tools.yml
