# SPDX-FileCopyrightText: Alliander N. V.
# 
# SPDX-License-Identifier: Apache-2.0

__pycache__/
ignore/
.config/
.vscode/
.data/

.personal.bashrc
.bash_history
.bash_logout
.bashrc
.profile
.vscode-server

build/
clangd/
**/target/

.cache
.venv

# for LSP in neovim
.nvim/
**/compile_commands.json

# generated compose files
compose.yml
compose_pytest.yml
rviz.yml
