/*  
SPDX-FileCopyrightText: Alliander N. V.

SPDX-License-Identifier: Apache-2.0  
*/

.app {
  max-width: 1500px;
  border-style: solid;
}

.title {
  text-align: center;
}

.cards {
  display: flex;
}