/*  
SPDX-FileCopyrightText: Alliander N. V.

SPDX-License-Identifier: Apache-2.0  
*/

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 1vh;
  height: 98vh;
  width: 98vw;
  
}

.title {
  height: 10%;
  text-align: center;
  overflow: scroll;
  border-style: solid;
  border-width: 1px;
}

.cards {
  height: 40%;
  display: flex;
  border-style: solid;
  border-width: 1px;

}

.map {
  height: 50%;
  border-style: solid;
  border-width: 1px;
}

.leaflet-container {
  height: 100%;
}