<?xml version='1.0' encoding='utf-8'?>
<!--
SPDX-FileCopyrightText: Alliander N. V.

SPDX-License-Identifier: Apache-2.0
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rcdt_axis">
  <!-- This URDF describes a coordinate axis, which can be used for debugging purposes. -->
  <xacro:macro name="rcdt_axis"
    params="
    namespace
    parent:=world
    ">
    <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
    <xacro:if value="${parent == 'world'}">
      <link name="${parent}" />
      <joint name="${parent}_joint" type="fixed">
        <parent link="${parent}" />
        <child link="base_link" />
      </joint>
    </xacro:if>

    <!-- Create basic axis xacro: -->
    <link name="base_link" />

    <link name="x_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1" />
        <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1 0.01 0.01" />
        </geometry>
        <material name="Red">
          <color rgba="1.0 0 0 1.0" />
        </material>
      </visual>
    </link>
    <joint name="x_joint" type="fixed">
      <parent link="base_link" />
      <child link="x_link" />
      <origin xyz="0.05 0 0" rpy="0 0 0" />
    </joint>

    <link name="y_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1" />
        <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.1 0.01" />
        </geometry>
        <material name="Green">
          <color rgba="0 1.0 0 1.0" />
        </material>
      </visual>
    </link>
    <joint name="y_joint" type="fixed">
      <parent link="base_link" />
      <child link="y_link" />
      <origin xyz="0 0.05 0" rpy="0 0 0" />
    </joint>

    <link name="z_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1" />
        <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.1" />
        </geometry>
        <material name="Blue">
          <color rgba="0 0 1.0 1.0" />
        </material>
      </visual>
    </link>
    <joint name="z_joint" type="fixed">
      <parent link="base_link" />
      <child link="z_link" />
      <origin xyz="0 0 0.05" rpy="0 0 0" />
    </joint>

  </xacro:macro>
  <xacro:arg name="namespace" default="axis" />
  <xacro:arg name="parent" default="" />
  <xacro:rcdt_axis namespace="$(arg namespace)" parent="$(arg parent)" />
</robot>