<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: Alliander N. V.

SPDX-License-Identifier: Apache-2.0
-->
<!-- 
This file contains the remapping for all robots, since it is currently not possible to define them
per robot, because of this bug:
https://github.com/ros-controls/gz_ros2_control/issues/196 
-->
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="remappings">
    <!-- franka: -->
    <!-- NONE -->

    <!-- panther: -->
    <remapping>gz_ros2_control/e_stop:=hardware/e_stop</remapping>
    <remapping>gz_ros2_control/e_stop_reset:=hardware/e_stop_reset</remapping>
    <remapping>gz_ros2_control/e_stop_trigger:=hardware/e_stop_trigger</remapping>
    <remapping>imu_broadcaster/imu:=imu/data</remapping>
    <remapping>drive_controller/cmd_vel_unstamped:=cmd_vel</remapping>
    <remapping>drive_controller/odom:=odometry/wheels</remapping>
  </xacro:macro>

</robot>