<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: Alliander N. V.

SPDX-License-Identifier: Apache-2.0
-->
<!-- 
This file contains the remapping for all robots, since it is currently not possible to define them
per robot, because of this bug:
https://github.com/ros-controls/gz_ros2_control/issues/196 
-->
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="remappings">
    <!-- franka: -->
    <!-- NONE -->

    <!-- panther: -->
    <remapping>drive_controller/cmd_vel:=cmd_vel</remapping>
    <remapping>drive_controller/odom:=odometry/wheels</remapping>
    <remapping>drive_controller/transition_event:=drive_controller/_transition_event</remapping>
    <remapping>imu_broadcaster/imu:=imu/data</remapping>
    <remapping>imu_broadcaster/transition_event:=imu_broadcaster/_transition_event</remapping>
    <remapping>joint_state_broadcaster/transition_event:=joint_state_broadcaster/_transition_event</remapping>
  </xacro:macro>

</robot>