<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: Alliander N. V.

SPDX-License-Identifier: Apache-2.0
-->

<!-- 
Based on:
https://github.com/husarion/husarion_ugv_ros/blob/2.1.2/panther_description/urdf/panther_macro.urdf.xacro
-->
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro
    name="panther_robot"
    params="
      panther_version
      wheel_config_file
      use_sim:=false
      imu_xyz:='0.169 0.025 0.092'
      imu_rpy:='0.0 0.0 -1.57'
      namespace:=''
    ">

    <xacro:if value="${use_sim}">
      <xacro:property name="imu_xyz" value="-0.195 0.010 0.085" />
      <xacro:property name="imu_rpy" value="0.000 -0.000 3.142" />
    </xacro:if>

    <xacro:property name="ns" value='${namespace + "/" if namespace else ""}' />

    <xacro:property name="wheel_config" value="${xacro.load_yaml(wheel_config_file)}" />
    <xacro:property name="wheel_separation_x" value="0.44" />

    <!-- INCLUDE ROBOT PARTS DEFINITIONS -->
    <xacro:include filename="$(find panther_description)/urdf/body.urdf.xacro" ns="body" />
    <xacro:include filename="$(find panther_description)/urdf/gazebo.urdf.xacro" ns="gazebo" />
    <xacro:include filename="$(find panther_description)/urdf/wheel.urdf.xacro" ns="wheel" />

    <!-- BODY DECLARATION -->
    <xacro:body.body
      wheel_radius="${wheel_config['wheel_radius']}"
      imu_xyz="${imu_xyz}"
      imu_rpy="${imu_rpy}" />

    <!-- WHEEL DECLARATION -->
    <xacro:wheel.wheel
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="fl" />

    <xacro:wheel.wheel
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="fr" />

    <xacro:wheel.wheel
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="rl" />

    <xacro:wheel.wheel
      wheel_config="${wheel_config}"
      wheel_separation_x="${wheel_separation_x}"
      prefix="rr" />
  </xacro:macro>

</robot>