# SPDX-FileCopyrightText: Alliander N. V.
#
# SPDX-License-Identifier: Apache-2.0
services:
  rcdt_husarion:
    image: rcdt/robotics:husarion-${IMAGE_TAG}
    container_name: rcdt_husarion
    runtime: nvidia
    network_mode: host
    privileged: true
    mem_limit: 6gb
    tty: true
    group_add:
      - "video" # Allows camera access on all platforms, no matter the allocated user rights
    env_file:
      - .env
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
      - "/dev:/dev"
    environment:
      - WINDOW_SIZE=10
      - SIMULATION=true
      - "DISPLAY"
      - "RCUTILS_COLORIZED_OUTPUT=1"
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - __EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/10_nvidia.json
    command: ["/bin/bash", "-c", "ros2 launch rcdt_husarion husarion.launch.py"]

