<?xml version="1.0"?>

<!--
  Based on: https://github.com/stereolabs/zed-ros2-wrapper/tree/master
  Copyright 2024 Stereolabs
  SPDX-FileCopyrightText: Alliander N. V.
  SPDX-License-Identifier: Apache-2.0
-->

<robot>
    <material name="zed_mat">
        <color rgba="0.8 0.8 0.8 1.0"/>
    </material>
    <material name="zedm_mat">
        <color rgba="0 0 0 1.0"/>
    </material>
    <material name="zed2_mat">
        <color rgba="0.25 0.25 0.25 1.0"/>
    </material>
    <material name="zed2i_mat">
        <color rgba="0.25 0.25 0.25 1.0"/>
    </material>
    <material name="zedx_mat">
        <color rgba="0.25 0.25 0.25 1.0"/>
    </material>
    <material name="zedxm_mat">
        <color rgba="0.25 0.25 0.25 1.0"/>
    </material>
    <material name="virtual_mat">
        <color rgba="0.25 0.25 0.25 1.0"/>
    </material>
    <material name="zedxonegs_mat">
        <color rgba="0.25 0.25 0.25 1.0"/>
    </material>
    <material name="zedxone4k_mat">
        <color rgba="0.25 0.25 0.25 1.0"/>
    </material>
</robot>
