# SPDX-FileCopyrightText: Alliander N. V.
#
# SPDX-License-Identifier: Apache-2.0

name: workspace

on:
  workflow_call:
    inputs:
      container-image:
        type: string
        required: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - uses: ./.github/actions/clear-disk-space

      - name: Pull image
        run: docker pull "${{ inputs.container-image }}"

      - name: uv sync
        run: |
          docker run --rm -i \
            -v "$PWD:/home/rcdt/rcdt_robotics" -w /home/rcdt/rcdt_robotics --user root \
            --entrypoint /bin/bash "${{ inputs.container-image }}" -i -c "
              source /home/rcdt/.bashrc &&
              uv sync
            "

      - name: build workspace
        run: |
          docker run --rm -i \
            -v "$PWD:/home/rcdt/rcdt_robotics" -w /home/rcdt/rcdt_robotics/ros2_ws --user root \
            --entrypoint /bin/bash "${{ inputs.container-image }}" -i -c "
              source /home/rcdt/.bashrc &&
              uv run colcon build --symlink-install
            "

      - name: ty check
        run: |
          docker run --rm -i \
            -v "$PWD:/home/rcdt/rcdt_robotics" -w /home/rcdt/rcdt_robotics --user root \
            --entrypoint /bin/bash "${{ inputs.container-image }}" -i -c "
              source /home/rcdt/.bashrc &&
              uv run ty check --error-on-warning
            "

      - name: tests
        run: |
          docker run --rm -i \
            -v "$PWD:/home/rcdt/rcdt_robotics" \
            -w /home/rcdt/rcdt_robotics/ros2_ws --user root \
            --entrypoint /bin/bash "${{ inputs.container-image }}" -i -c "
              source /home/rcdt/.bashrc &&
              source install/setup.bash &&
              uv run xvfb-run pytest -s -rsxf src/
            "

      - name: Show disk usage after job
        if: always()
        run: |
          echo "Disk usage on host:"
          df -h /

          echo
          echo "Docker disk usage:"
          docker system df || true
