# SPDX-FileCopyrightText: Alliander N. V.
#
# SPDX-License-Identifier: Apache-2.0

name: docker

on:
  workflow_call:
    inputs:
      container-image:
        type: string
        required: true
      cache-tag:
        type: string
        required: true

jobs:
  deploy-image:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Starting deploy to ${{ inputs.container-image}}"
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: actions/checkout@v4
      - uses: ./.github/actions/clear-disk-space
      - run: curl -fsSL https://raw.githubusercontent.com/kou/arrow/e49d8ae15583ceff03237571569099a6ad62be32/ci/scripts/util_free_space.sh | bash
      - run: df -h /
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          push: true
          context: ./dockerfiles
          file: ./dockerfiles/rcdt_robotics.Dockerfile
          tags: ${{ inputs.container-image}}
          cache-from: |
            type=registry,ref=rcdt/robotics:${{ inputs.cache-tag }}
            type=registry,ref=rcdt/robotics:build-cache-latest
          cache-to: type=registry,ref=rcdt/robotics:${{ inputs.cache-tag }},mode=max
      - run: df -h /
